---
---

@import "minima";

.reportButton {
  /*height: 80px;*/
  width: 25%;
  margin: 2%;
  padding: 2%;
  float: left;
  text-align: center;
  padding: 70px 0;
}

.arc {
  background-color: #002145;
}

.library {
  background-color: #97D4E9;
}

.ors {
  background-color: #6EC4E8;
}

.it {
  background-color: #40B4E5;
}

.reportButton a.link, .reportButton a.hover, .reportButton a.visited, .reportButton a.active {
  color: #fff;
}
