---
---

@import "minima";

.reportButton {
  /*height: 80px;*/
  width: 20%;
  margin: 2%;
  padding: 2%;
  float: left;
  text-align: center;
  padding: 80px 0;
}

.arc {
  border: solid 2px red;
}

.library {
  border: solid 2px blue;
}

.ors {
  border: solid 2px green;
}

.it {
  border: solid 2px black;
}
