---
---

@import "minima";

.reportButton {
  height: 100px;
  width: 20%;
  margin: 10%;
  padding: 10%;
  float: left;  
}

.arc {
  border: solid 2px red;
}

.library {
  border: solid 2px blue;
}

.ors {
  border: solid 2px green;
}

.it {
  border: solid 2px black;
}

h1 {
  color: blue;
}
